examples/example_flow_1_for_nodered-1-0-0.json
[{"id":"567ad493.d53d5c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"34984d46.815702","type":"inject","z":"567ad493.d53d5c","name":"inject msg.ts","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":180,"wires":[["326688cd.161348"]]},{"id":"1de065d3.630eda","type":"gapit-snmp","z":"567ad493.d53d5c","host":"192.168.122.52","community":"eaton-9PX-partial-walk","version":"1","tagname_device_name":"devname","tagvalue_device_name":"ups1","minion_ids":"","custom_tags":"{\"floor\":\"1\",\"room\":\"101\"}","gapit_code":"{\"objects\":[{\"group_name\":\"Battery\",\"read_priority\":20,\"next_read\":0,\"group\":[{\"description\":\"Flarb\",\"value\":\"f\",\"byte_type\":\"INT\",\"address\":\"1.3.6.1.4.1.534.1.4.7.0\",\"scaling_factor\":1,\"unit\":\"1=Unknow, 2=Ok, 3=Low, 4=Depleted\"},{\"description\":\"Flarb the Second\",\"value\":\"f\",\"byte_type\":\"INT\",\"address\":\"1.3.6.1.4.1.534.1.2.1.0\",\"scaling_factor\":1,\"unit\":\"1=Unknow, 2=Ok, 3=Low, 4=Depleted\"}]}]}","scaling":"general","skip_nonexistent_oids":true,"remove_novalue_items_from_gapit_results":true,"timeout":5,"name":"","x":597.0000228881836,"y":181.00000286102295,"wires":[["eef3fb8f.289b48"]]},{"id":"eef3fb8f.289b48","type":"gapit-results-to-influx-batch","z":"567ad493.d53d5c","use_timestamp_from_msg":true,"timestamp_property":"ts","name":"","x":877.0000228881836,"y":181.00000286102295,"wires":[["463d136b.17abec"]]},{"id":"463d136b.17abec","type":"influxdb batch","z":"567ad493.d53d5c","influxdb":"c038256b.637268","precision":"ms","retentionPolicy":"","name":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1107.0000228881836,"y":181.00000286102295,"wires":[]},{"id":"326688cd.161348","type":"change","z":"567ad493.d53d5c","name":"","rules":[{"t":"set","p":"ts","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":347.12890625,"y":179.03515434265137,"wires":[["1de065d3.630eda"]]},{"id":"c038256b.637268","type":"influxdb","z":"","hostname":"influx","port":"8086","protocol":"http","database":"db1","name":"influx","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]